
.App {
  background-color: #282c34;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  font-size: calc(5px + 2vmin);
  color: white;
  justify-content: center;
  position: relative;
  text-align: center;
}
.Search{
  display: flex;
  flex-direction: column;
  height: 10%;
}
.Search input{
  display: flex;
  align-self: center;
  margin-top: 2em;
  width: 15em;
}
.Words{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
  width: 90vw;
}
.Words h4{
  padding: 1em;
}
footer{
  left:0;
  bottom: 0;
  position: fixed;
  font-size:medium;
}
